.center {
  width: 300px;
  height: 250px;
  padding: 5px 5px 20px;
}

.center h2 {
  text-align: center;
}

.center, .sopping-list_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 3px solid orange;
  border-radius: 25px 0 25px 0;
  margin: 50px auto;
}

.sopping-list_wrapper {
  width: 200px;
  padding: 20px;
}

.sopping-list_wrapper h3 {
  margin: 0 0 20px;
}

.sopping-list_item {
  padding: 5px 5px 10px;
  list-style: none;
  margin: 0 0 10px;
  width: 135px;
  text-align: start;
  border-bottom: 3px solid orange;
}

.sopping-list_item:last-child {
  border-bottom: none;
}

.hide_element {
  display: none;
}