* {
  transition: 0.3s;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-color: black;
}

.field {
  position: relative;
  width: 1000px;
  height: 626px;
  border: 3px solid red;
  border-top: none;
  background: url(../img/images.jpg) 0 0/cover no-repeat;
  box-sizing: border-box;
}

.square-traveler {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  background-color: darkblue;
  border: 1px solid greenyellow;
  box-sizing: border-box;
}

.face {
  position: absolute;
  width: 22px;
  top: 38px;
  left: 38px;
}